body{
    margin: 0;
    padding: 0;
    background-color: pink;
}
p{
    font-family: 'Times New Roman',Times, serif;
    font-size: 30px;
    font-weight: 700;
    font-style: italic;
    text-align: center;
    text-decoration: underline;
    text-transform: capitalize;
    text-shadow: 1px 1px 10px #f05;
    color: rgb(4, 4, 19);
    display: inline-block;
}
#para{
    color: aqua;
}
img{
    border: 2px solid #F04;
   /* border-radius: 50%; */
    float: left;
    margin-right: 20px;
    padding: 3px;
    ;
}